<div class="container main-container">
    <form class="form-horizontal form-signin" name="form" novalidate ng-submit="vm.login(form)">
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">Username:</label>
            <div class="col-sm-8">
                <input type="text" 
                       ng-model="vm.username" 
                       name="username" 
                       class="form-control"
                       ng-class="{error: form.username.$invalid && vm.validate}"
                       id="username" 
                       required
                       placeholder="Enter username here">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Password:</label>
            <div class="col-sm-8">
                <input type="password" 
                       ng-model="vm.password" 
                       name="password" 
                       class="form-control" 
                       ng-class="{error: form.password.$invalid && vm.validate}"
                       id="password"
                       required
                       placeholder="Enter password here">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Sign In</button>
            </div>
        </div>
        <div class="form-group text-center" ng-if="vm.showError">
            <div class="col-sm-12 text-danger">
                <p>Username and / or password is incorrect</p>
            </div>
        </div>
    </form>
</div>
