<ul class="nav nav-tabs" ng-if="currentUser.admin">
    <li role="presentation"><a ui-sref="imageList">List</a></li>
    <li role="presentation"><a ui-sref="imageUpload">Upload</a></li>
    <li role="presentation" class="active"><a href="#">Image Detail</a></li>
</ul>

<div class="main-container image-detail">
    <h3>{{vm.image.name}}</h3>
    <div class="row">
        <div class="col-md-8">
            <ngc-canvas image="vm.image" marking-stalks="vm.markingStalks" marking-weeds="vm.markingWeeds"></ngc-canvas>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" ng-class="{'disabled': vm.markingStalks}" ng-click="vm.markingStalks=true;vm.markingWeeds=false">Start Marking Stalks</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" ng-class="{'disabled': !vm.markingStalks}" ng-click="vm.markingStalks=false;vm.markingWeeds=false">Stop Marking Stalks</button>
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" ng-class="{'disabled': vm.markingWeeds}" ng-click="vm.markingStalks=false;vm.markingWeeds=true">Start Marking Weeds</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" ng-class="{'disabled': !vm.markingWeeds}" ng-click="vm.markingStalks=false;vm.markingWeeds=false">Stop Marking Weeds</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 notes-container">
            <textarea class="notes" placeholder="Notes" ng-model="vm.image.mark.note"></textarea>
            <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="vm.submitMarks()">Process Image</button>
        </div>
    </div>
    <div class="row stalk-weed-table">
        <div class="col-md-6" ng-if="vm.image.mark.stalks.length">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th width="30%">Stalk #</th>
                            <th>Coordinates</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stalk in vm.image.mark.stalks">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{stalk.x | number: 0}}&nbsp;&nbsp;&nbsp;{{stalk.y | number : 0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" ng-if="vm.image.mark.weeds.length">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th width="30%">Weed #</th>
                            <th>Coordinates</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="weed in vm.image.mark.weeds">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{weed.x | number: 0}}&nbsp;&nbsp;&nbsp;{{weed.y | number: 0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>