body {
    padding-bottom: 40px;
    word-break: break-word;
}
.main-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.form-signin,
.form-user {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    border: 2px solid #eee;
}
.form-signin {
    margin-top: 60px;
}
.form-user {
    max-width: 650px;
}
.form-signin .form-signin-heading {
    margin-top: 0;
    margin-bottom: 20px;
}
.form-signin .control-label {
    text-align: left;
}

.validate .ng-invalid,
select.error,
input.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.checkbox.error,
.error .radio {
    color: #a94442;
}

ul.nav{
    margin-bottom: 20px;
}

.image-list-table .corn-image{
    width: 100%;
}
.image-list-table td{
    white-space: normal !important;
}
.image-upload-table .corn-image{
    width: 100%;
}

.image-detail .corn-image{
    width: 100%;
}

.image-detail .notes-container{
    margin-top: 3px;
}

.image-detail .notes{
    width: 100%;
    min-height: 100px;
}
.image-detail .stalk-weed-table{
    margin-top: 3px;
}

.main-container .ng-table-counts{
    margin: 20px 0;
}
#canvas-container .kineticjs-content{
    border: 1px solid #ddd;
}
#canvas-container canvas{
    margin: 0 auto;
}
input.remove-no-file-chosen
{
   width: 100px;
   color: #fff;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}