<ul class="nav nav-tabs" ng-if="currentUser.admin">
    <li role="presentation"><a ui-sref="imageList">List</a></li>
    <li role="presentation" class="active"><a href="#">Upload</a></li>
    <li role="presentation"><a ui-sref="imageDetail">Image Detail</a></li>
</ul>

<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <h3>Select image files</h3>
            <input class="remove-no-file-chosen" type="file" nv-file-select="" uploader="vm.uploader" multiple title=""/><br/>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th width="35%">Progress</th>
                        <th width="15%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <div ngc-thumb="{file: item._file, height: 100 }"></div>
                        </td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Submit
                    </button>
                </div>
                <div class="btn-group">                   
                    <button type="button" class="btn btn-warning" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>