<ul class="nav nav-tabs" ng-if="currentUser.admin">
    <li role="presentation" class="active"><a href="#">List</a></li>
    <li role="presentation"><a ui-sref="imageUpload">Upload</a></li>
    <li role="presentation"><a ui-sref="imageDetail">Image Detail</a></li>
</ul>

<div class=" main-container">
    <div class="btn-group" role="group">
        <a ui-sref="imageUpload" class="btn btn-primary btn-sm margin-bottom-15">
            <span class="glyphicon glyphicon-plus"></span>
            Add Images
        </a>
    </div>
    <div class="table-responsive">
        <table class="image-list-table table table-striped table-bordered table-condensed" ng-table="vm.tableParams">
            <thead>
                <tr>
                    <th width="5%">Id</th>
                    <th width="20%">Name</th>
                    <th width="35%">Image Thumbnail</th>
                    <th width="40%">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $data">
                    <td class="text-center">{{row.id}}</td>
                    <td class="text-center">
                        <a ui-sref="imageDetail({id:row.id})">{{row.name}}</a>
                    </td>
                    <td>
                        <img class="corn-image" ng-src="{{imageBaseUrl + row.fileName}}"></img>
                    </td>
                    <td class="text-left">
                        <span>{{row.mark.note}}</span>
                    </td>             
                </tr>
            </tbody>
        </table>
    </div>
</div>